.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
   margin: 10px;

 
  }
  
  .react-switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  .react-switch-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .react-switch-label:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 5px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  .react-switch-checkbox:checked + .react-switch-label {
    background-color: #4caf50;
  }
  
  .react-switch-checkbox:checked + .react-switch-label:before {
    transform: translateX(25px);
  }
  .switch input{
    width: 80px;
  }
  