.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iframe-container {
  position: relative;
  width: 80%;  /* Ocupa 80% da largura da tela */
  padding-bottom: 45%;  /* Mantém a proporção da tela 16:9 */
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Tornar o layout responsivo */
@media only screen and (max-width: 768px) {
  .iframe-container {
    width: 100%;  /* Em telas menores, o iframe ocupará 100% da largura */
    padding-bottom: 56.25%;  /* Proporção para vídeo */
  }
}
